<section ng-controller="FridgeController" ng-init="bgScroll('modules/core/img/bg/bg14.jpg','#696460',1.2)">

<div class="fridge2">
	<div class="fridge2-top"></div>
	<div class="fridge2-mid">
		<div class="fridge2-left">
			<div class="fridge2-left-main">
				<div class="panel2-left">
					<div class="panel2-left-top"></div>
					<div class="panel2-left-mid">
						<div class="panel2-left-content">

						</div>
					</div>			
					<div class="panel2-left-bot"></div>
				</div>
				<div class="icemaker">
					<div class="icemaker-top"></div>
					<div class="icemaker-mid">
						<div class="icemaker-content">

						</div>
					</div>			
					<div class="icemaker-bot"></div>
				</div>
			</div>
			<div class="fridge2-handle"></div>
		</div>
		<div class="fridge2-right">
			<div class="fridge2-handle"></div>
			<div class="fridge2-right-main">
				<div class="panel2-right">
					<div class="panel2-right-top"></div>
					<div class="panel2-right-mid">
						<div class="panel2-right-content">

						</div>
					</div>			
					<div class="panel2-right-bot"></div>
				</div>
			</div>
		</div>	
		<div class="fridge-clear"></div>			
	</div>
	<div class="fridge2-bot"></div>
</div>

</setion>