<section ng-controller="FridgeController" ng-init="bgScroll('modules/core/img/bg/bg21.jpg','#6F838A',1.5)">

<div class="fridge3">
	<div class="fridge3-top"></div>
	<div class="fridge3-mid">
		<div class="fridge3-handle"></div>		
		<div class="panel3">
			<div class="panel3-top"></div>
			<div class="panel3-left"><img src="modules/core/img/fridges/panel_left.png" width="18" height="600"></div>
			<div class="panel3-mid"></div>
			<div class="panel3-right"><img src="modules/core/img/fridges/panel_right.png" width="18" height="600"></div>				
			<div class="panel3-bot"></div>
		</div>
		<div class="fridge-clear"></div>				
	</div>
	<div class="fridge3-bot"></div>
</div>

</section>